* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-content {
  background-size: cover;
  position: relative;
}
h1, h2, h3 {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h2 small, h3 small {
  font-weight: 400;
}

#win {
  position: absolute;
  padding: 20px;

  background-image: url(../assets/images/win.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}
#win h2 {
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  #game-content {
    background-image: url(../assets/backgrounds/bg-mobile-02.png);
    margin: 0;
    width: 100%;
    height: 100%;
  }
  h2 {
    font-size: 0.9em;
  }
  #win {
    top: 10em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding-top: 10px;
  }
}

@media only screen and (min-device-width: 1024px) {
  #game-content {
    background-image: url(../assets/backgrounds/bg.png);
    margin: 0 auto;

    width: 800px;
    height: 600px;
  }
  #win {
    width: 600px;
    height: 400px;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-300px, -200px);
    -moz-transform: translate(-300px, -200px);
    transform: translate(-300px, -200px);
  }
}
